<a href="https://colab.research.google.com/github/aruntakhur/GEU_ML/blob/main/Python_Unit_1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Arithmetic Operations
Basic arithmetic operations are built into the Python langauge. Here are some examples. In particular, note that exponentiation is done with the ** operator.

In [8]:
a = 12
b = 2
c = 11

print(a + b)  # addition
print(a * b)  # multiplication
print(a**b)   # exponetiation
print(a/b)    # division
print(c/b)    # division
print(c//b)   # integer division

14
24
144
6.0
5.5
5

# Python Libraries
The Python language has only very basic operations. Most math functions are in various math libraries. The numpy library is convenient library. This next cell shows how to import numpy with the prefix np, then use it to call a common mathematical functions.

In [9]:
import numpy as np

# mathematical constants
print(np.pi)
print(np.e)

# trignometric functions
angle = np.pi/4
print(np.sin(angle))
print(np.cos(angle))
print(np.tan(angle))

3.141592653589793
2.718281828459045
0.7071067811865475
0.7071067811865476
0.9999999999999999

# Working with Lists
Lists are a versatile way of organizing your data in Python. Here are some examples, more can be found on this [Khan Academy video]( http://youtu.be/zEyEC34MY1A).

In [11]:
xList = [1, 2, 3, 4]
xList[0]

1

Concatentation is the operation of joining one list to another.

In [6]:
# Concatenation
x = [1, 2, 3, 4];
y = [5, 6, 7, 8];

x + y

[1, 2, 3, 4, 5, 6, 7, 8]

Sum a list of numbers

In [7]:
np.sum(x)

10

An element-by-element operation between two lists may be performed with

In [8]:
print(np.add(x,y))
print(np.dot(x,y))

[ 6  8 10 12]
70

A for loop is a means for iterating over the elements of a list. The colon marks the start of code that will be executed for each element of a list. Indenting has meaning in Python. In this case, everything in the indented block will be executed on each iteration of the for loop. This example also demonstrates string formatting.

In [11]:
for x in xList:
    print("The value of x is ",x )
    print("The value of sin(x) is ",np.sin(x))
    print("\n")

The value of x is  1
The value of sin(x) is  0.8414709848078965


The value of x is  2
The value of sin(x) is  0.9092974268256817


The value of x is  3
The value of sin(x) is  0.1411200080598672


The value of x is  4
The value of sin(x) is  -0.7568024953079282

# Working with Dictionaries
Dictionaries are useful for storing and retrieving data as key-value pairs. For example, here is a short dictionary of student's age. The keys are students' names, and the values are the corresponding ages.

In [12]:
mw = {'Akash': 16, 'Supriya': 18, 'Shivam':23, 'Rahul': 20}
print(mw)

{'Akash': 16, 'Supriya': 18, 'Shivam': 23, 'Rahul': 20}

We can add a key-value to an existing dictionary.

In [13]:
mw['Megha'] = 21
print(mw)

{'Akash': 16, 'Supriya': 18, 'Shivam': 23, 'Rahul': 20, 'Megha': 21}

We can retrieve a value from a dictionary.

In [14]:
mw['Shivam']

23

A for loop is a useful means of interating over all key-value pairs of a dictionary.

In [28]:
for names in mw.keys():
    print("The age of the {} is {}".format(names,mw[names]))

The age of the Akash is 16
The age of the Supriya is 18
The age of the Shivam is 23
The age of the Rahul is 20
The age of the Megha is 21

Dictionaries can be sorted by key or by value

In [29]:
for names in sorted(mw):
  print("The age of the {} is {}".format(names,mw[names]))

The age of the Akash is 16
The age of the Megha is 21
The age of the Rahul is 20
The age of the Shivam is 23
The age of the Supriya is 18

Sort by values

In [42]:
keys = list(mw.keys())
values = list(mw.values())
print(values)
sorted_value_index = np.argsort(values)
print(sorted_value_index)
for i in sorted_value_index:
  print("The age of the {} is {}".format(keys[i], values[i]))

[16, 18, 23, 20]
[0 1 3 2]
The age of the Akash is 16
The age of the Supriya is 18
The age of the Rahul is 20
The age of the Shivam is 23

Efficient way: Sort by values

In [15]:
for species in sorted(mw, key = mw.get):
    print(" {}  {}".format(species, mw[species]))

 Akash  16
 Supriya  18
 Rahul  20
 Megha  21
 Shivam  23

# Python Tuples

# Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [45]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

# Allow Duplicates
Since tuples are indexed, they can have items with the same value

In [46]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [47]:
#print the lenght of the tuple
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [48]:
#A tuple can have different datatypes such as strings, integers and boolean values.
tuple1 = ("abc", 34, True, 40, "male")

In [49]:
#print the type of the
type(tuple1)

tuple

## Control Statements

If Else

In [50]:
password = input('Enter password ')

if password == "PYnative@#29":
    print("Correct password")
else:
    print("Incorrect Password")

Enter password Hi
Incorrect Password

Nested if-else statement

In [51]:
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))

if num1 >= num2:
    if num1 == num2:
        print(num1, 'and', num2, 'are equal')
    else:
        print(num1, 'is greater than', num2)
else:
    print(num1, 'is smaller than', num2)

Enter first number 1
Enter second number 2
1 is smaller than 2

While Loop

In [54]:
x = 1
while x <= 5:
  print(x)
  x = x+1

1
2
3
4
5

For Loop

In [55]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Break Statement in Python
The break statement is used inside the loop to exit out of the loop. It is useful when we want to terminate the loop as soon as the condition is fulfilled instead of doing the remaining iterations. It reduces execution time. Whenever the controller encountered a break statement, it comes out of that loop immediately

In [56]:
for num in range(10):
    if num > 5:
        print("stop processing.")
        break
    print(num)

0
1
2
3
4
5
stop processing.

Continue statement in python

In [57]:
for num in range(3, 8):
    if num == 5:
        continue
        print("Hi")
    else:
        print(num)

3
4
6
7

## Python String
A String is a data structure in Python that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. Strings are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

In [58]:
# Python Program for
# Creation of String

# Creating a String
# with single Quotes
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ")
print(String1)

# Creating a String
# with double Quotes
String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ")
print(String1)

# Creating a String
# with triple Quotes
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print("\nString with the use of Triple Quotes: ")
print(String1)

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Geeks
			For
			Life'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek

String with the use of Triple Quotes:
I'm a Geek and I live in a world of "Geeks"

Creating a multiline String:
Geeks
			For
			Life

In [61]:
# Python Program to Access
# characters of String

String1 = "GeeksForGeeks"
print("Initial String: ")
print(String1)

# Printing First character
print("\nFirst character of String is: ")
print(String1[0])

# Printing Last character
print("\nLast character of String is: ")
print(String1[-1])

# Printing 3rd to 11th character: GeeksForGeeks
print("\nSlicing characters from 3-11: ")
print(String1[3:12])

# Printing characters between
# 3rd and 2nd last character
print("\nSlicing characters between " +
      "3rd and 2nd last character: ")
print(String1[3:-2])

Initial String:
GeeksForGeeks

First character of String is:
G

Last character of String is:
s

Slicing characters from 3-11:
ksForGeek

Slicing characters between 3rd and 2nd last character:
ksForGee

In [62]:
#Program to reverse a string
gfg = "geeksforgeeks"
print(gfg[::-1])

skeegrofskeeg

In [65]:

# Program to reverse a string

gfg = "geeksforgeeks"

# Reverse the string using reversed and join function
gfg = "".join(reversed(gfg))

print(gfg)

skeegrofskeeg

In [67]:
# Strings are immutable therefore error
gfg = "geeksforgeeks"
gfg[0] ='A'

TypeError: ignored

In [68]:
# But we can update entire String pointer
# Python Program to Update
# entire String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Updating a String
String1 = "Welcome to the Geek World"
print("\nUpdated String: ")
print(String1)

Initial String:
Hello, I'm a Geek

Updated String:
Welcome to the Geek World

In [69]:
# Escaping Single Quote
String1 = 'I\'m a "Geek"'
print("\nEscaping Single Quote: ")
print(String1)

Escaping Single Quote:
I'm a "Geek"

In [70]:
# Python Program for
# Formatting of Strings

# Default order
String1 = "{} {} {}".format('Geeks', 'For', 'Life')
print("Print String in default order: ")
print(String1)

# Positional Formatting
String1 = "{1} {0} {2}".format('Geeks', 'For', 'Life')
print("\nPrint String in Positional order: ")
print(String1)

# Keyword Formatting
String1 = "{l} {f} {g}".format(g='Geeks', f='For', l='Life')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Geeks For Life

Print String in Positional order:
For Geeks Life

Print String in order of Keywords:
Life For Geeks

In [71]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17

In [72]:
# String alignment
String1 = "|{:<10}|{:^10}|{:>10}|".format('Geeks',
										'for',
										'Geeks')
print("\nLeft, center and right alignment with Formatting: ")
print(String1)

# To demonstrate aligning of spaces
String1 = "\n{0:^16} was founded in {1:<4}!".format("GeeksforGeeks",
													2009)
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |   for    |     Geeks|

 GeeksforGeeks   was founded in 2009!

In [73]:
# Python Program for
# Old Style Formatting
# of Integers

Integer1 = 12.3456789
print("Formatting in 3.2f format: ")
print('The value of Integer1 is %3.2f' % Integer1)
print("\nFormatting in 3.4f format: ")
print('The value of Integer1 is %3.4f' % Integer1)

Formatting in 3.2f format:
The value of Integer1 is 12.35

Formatting in 3.4f format:
The value of Integer1 is 12.3457

## File Handling

In [3]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content! \n Hi How are you.")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!Now the file has more content!
 Hi How are you.

In [4]:
# a file named "geek", will be opened with the reading mode.
file = open('demofile2.txt', 'r')

# This will print every line one by one in the file
for each in file:
	print (each)

Now the file has more content!Now the file has more content!

 Hi How are you.

In [7]:
# Python code to illustrate with()
with open("demofile2.txt") as file:
	data = file.read()

print(data)

Now the file has more content!Now the file has more content!
 Hi How are you.

## For more information
https://www.geeksforgeeks.org/file-handling-python/